<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Shuffler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/default.css') }}">
</head>
<body>
    <div id="welcome">
    <img id="logo" src="{{ url_for('static', filename='images/icon.png') }}" alt="Spotify logo" height="150">
    <h1>Spotify Shuffler</h1>

    <span id="login">To begin, login with </span><a href="/login" display:inline>Spotify</a>
    </div>
</body>
</html>