<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuffled</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/default.css') }}">
</head>
<body>
    <div id="welcome">
        <h1>Playlist Shuffled!</h1>
        <a href="/playlists" id="return">Return to playlists</a>
        <!-- <form action="/clear-queue">
            <div>
                <button type="submit">Clear Queue</button>
            </div>
        </form> -->
    </div>
</body>
</html>